.slider-container {
  width: 100%;
  margin: 0 auto;
  /* margin-top: 5rem; */
  padding-top: 5rem;
}

.quote-container {
  background: url(../../image/bg2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.quote-text {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  color: #072E33;
  padding: 1rem;
}