body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* main colors for website */
.bg-main {

  background-color: #072E33;


}

.text-main {
  color: #0F969C;
}

.logo {
  color: #8dc73f;
}



/* navbar transtion when scroll down */
.navbar {
  transition: all 1s ease-in-out;
}

.navbar.scrolled {

  background-color: #333;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}


/*  #072E33; */
/* #009578 */
/* #0F969C */

/* registertion from design */
.reg-form {

  background-color: linear-gradient(to bottom, #072E33, #3cf0cc, #009578);
  box-shadow: 1px 1px 30px 1px rgb(34, 33, 33);
  color: #77fce1 !important;
}

.reg-pp::placeholder {
  color: black !important;
}

.reg-inputt {
  background-color: #3cf0cc !important;
  border-color: rgb(34, 33, 33) !important;
  box-shadow: 1px 1px 30px 1px rgb(34, 33, 33) !important;
  color: black !important;
}

.reg-select {
  color: #3cf0cc;
}

/* login design */
.login-form{
  background-color:linear-gradient(to bottom, #072E33, #3cf0cc, #009578);
  box-shadow: 1px 1px 30px 1px rgb(34, 33, 33);
  color:  #77fce1 !important;
}
.login-pp::placeholder{
  color: black !important;
}
.login-inputt{
  background-color: #3cf0cc !important;
  border-color: rgb(34, 33, 33) !important;
  box-shadow: 1px 1px 30px 1px rgb(34, 33, 33) !important;
  color: black !important;
}

/* search input  */

.search-pp::placeholder{
  color: #072E33 !important;
}
.search-input{
  background-color: #9cd1d4 !important;
  border-color: rgb(159, 213, 222) !important;
  box-shadow: 1px 1px 30px 1px rgb(159, 213, 222) ;
  color: white !important;
}

